.home-container {
  background-color:  rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message {
  font-size: 3rem;
  color:purple;
  margin-bottom: 50px;
  text-align: center;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  margin: 0 20px;
  padding: 20px;
  background-color: purple;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}
.option:hover{ transform: scale(1.1);
  transition: transform 0.3s ease-in-out;

}

